:root {
  --amber-600: rgba(217, 119, 6, 1);
  --blue-600: rgba(37, 99, 235, 1);
  --blue-700: rgba(29, 78, 216, 1);
  --emerald-600: rgba(5, 150, 105, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --neutral-100: rgba(245, 245, 245, 1);
  --neutral-200: rgba(229, 229, 229, 1);
  --neutral-300: rgba(212, 212, 212, 1);
  --neutral-400: rgba(163, 163, 163, 1);
  --neutral-800: rgba(38, 38, 38, 1);
  --neutral-900: rgba(23, 23, 23, 1);
  --orange-600: rgba(234, 88, 12, 1);
  --purble-600: rgba(147, 51, 234, 1);
  --red-400: rgba(248, 113, 113, 1);
  --red-50: rgba(254, 242, 242, 1);
  --red-900: rgba(127, 29, 29, 1);
  --violet-600: rgba(124, 58, 237, 1);
  --white: rgba(255, 255, 255, 1);
}
